doctype html
html
  head
    title= title
    script(src="http://code.jquery.com/jquery-1.10.2.js")
    script(src="/javascripts/deleteItem.js")
    script(src="/javascripts/selectSorting.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content